.facebook_metro {
background: url(../img/social/facebook-metro.png) no-repeat;
}
.tsc_social_metro {
display: inline-block;
text-indent: -999em;
height: 32px;
width: 32px;
text-decoration: none;
padding: 2px;
vertical-align: middle;
}

.tsc_social_metro:hover{ opacity:0.7; }