.img-rounded :hover {
	opacity: 0.7;
}

.position-fixed {
  position: absolute;
}

#contextMenu li :hover {
	background-color: lightsteelblue;
	cursor: default;
}

.slider-selection {
	background: #FFC761;
}

.slider-track {
	background: #FFA500;
}

.slider-horizontal {
	width: 100% !important;
}

.panel-default {
  border-color: #aaa;
}
.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
border-color: #f0ad4e;
color: #fff;
background-color: #f0ad4e;
}

.panel-yellow a {
color: #f0ad4e;
}

.panel-blue {
border-color: #428bca;
}

.panel-blue .panel-heading {
border-color: #428bca;
color: #fff;
background-color: #428bca;
}

.panel-blue a {
color: #428bca;
}